*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
colors{
color: #29353C;
color: #44576D;
color: #768A96; 
color: #AAC7D8;
color: #DFEBF6;
color: #E6E6E6;
}


.navbar-collapse {
  flex-grow: 0;
}
.navbar .container-fluid{
  margin: 0 7%;
}
.navbar{
  background: #44576D !important;
  color: #E6E6E6 !important;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-brand  span{
  color: #29353C   ;
}
/* .navbar-light .navbar-nav .nav-link.active{
  color: yellow ;
  color: goldenrod;
 }  */
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #768A96;
  CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX; 
}
.navbar-light .navbar-toggler {
  border-color: #fff;
  background: #29353C;
  padding: 1px 7px;
  font-size: 22px;
}
.nav-item {
  text-align: center;
  margin-right: 35px;
  font-weight: 800;
}
.navbar-light .navbar-toggler-icon {
}
.nav_icon{
  color: red;
}
.collapse{
  margin: auto  ;
} 

.contact_btn{
  background: yellow;
  color: black;
  border-radius: 48%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer ;
}
.contact_btn:hover{
  background-color: red;
  color: yellow;
  
}


.hero_section{
  background: #E6E6E6;
  width: 100%;
  height: 100vh;
}

.hero_container{
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 38px 0;
  height: 90%;
}

.hero_text{
  text-align: center;
  /* padding-left: 60px; */
}
.hero_text h5{
  color: #768A96;
  font-size: 25px;
}

.hero_text h2{
  color: #768A96;
  font-size: 60px;
}
.hero_text span{
  color: #AAC7D8;
}
.hero_text p  {
  font-size: 20px;
  font-weight: 500;
  color: #768A96;
}




.contact_section{
  background: #44576D;
}
.contact_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 60px 0;
  color: #fff;
  position: relative;
}
.contact_text h5{
  font-size: 32px;
    width: 71%;
    
  }
  .contact_text p{
    position: absolute;
    left: 15%;
    top: 80%;
}

.contact_form {
    color: #fff;
    background: #fff;
    position: relative;
    top: 120px;
}
























@media (max-width: 991px) {
  .contact_btn {
    display: none;
  }
}